# {{ ansible_managed }}

upstream {{ item.backend_name }} {
	{% for backend in item.backends %} 
	server {{ backend }};
	{% endfor %}
}

server {
	 listen 80;
	 server_name {{ item.domains|join('') }};
	 
	 location / {
	 	proxy_set_header	X-Real-IP $remote_addr;
	 	proxy_set_header	Host 	  $http_host;
	 	proxy_pass			http://{{ item.backend_name }};
    	proxy_cache_valid 	200 	  10d; 
    	proxy_cache_valid 	206		  5d; 
	 }

	 location ~* \.(?:html|php|aspx)$ {
	 	expires -1; 
	 }
}